.main-logo {
    height: 250px;
    margin: 0 auto;
    display: block;
}

.btn-primary {
    background: #6b823c;
    border: #6b823c;
}

.btn-primary:hover {
    background: #445424;
    border: #445424;
}

label {
    color: #445424;
    font-weight: bold;
}

footer {
    padding: 15px;
    background: #6b823c;
    color: #FFF;
}

dd {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
